﻿<h1>User {{vm.user.firstName}}</h1>
<div ng-if="vm.isAdmin()">
    <h3>Zarejestrowani użytkownicy:</h3>
    <ul>
        <li ng-repeat="user in vm.allUsers">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a href="#" ng-click="vm.deleteUser(user.id)">Usuń</a>
        </li>
    </ul>
</div>
<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Wyloguj</a></p>
<form name="myForm">
    <label for="repeatSelect"> Wybierz pomiar: </label>
    <select name="repeatSelect" id="repeatSelect">
        <option ng-repeat="option in vm.availableOptions">{{option.name}}</option>
    </select>
</form>
<button id="test" ng-click="vm.showGraph()">Pokaż wykres</button>
<plotly class="js-graph" plotly-data="dataX" plotly-layout="layoutX" plotly-options="options" plotly-events="plotlyEvents"></plotly>
<p>&nbsp;</p>
<plotly class="js-graph" plotly-data="dataY" plotly-layout="layoutY" plotly-options="options" plotly-events="plotlyEvents"></plotly>
<p>&nbsp;</p>
<plotly class="js-graph" plotly-data="dataZ" plotly-layout="layoutZ" plotly-options="options" plotly-events="plotlyEvents"></plotly>
